#lp-shelf-container {
  position: relative;
  perspective: 1000px;
}

#lp-shelf {
  width: 1500px;
  height: 800px;
}

#bonsai {
  position: absolute;
  top: 3.5rem;
  left: 41rem;
}

/* #books {
  position: absolute;
  top: 17rem;
  left: 18rem;
}

#books-support {
  position: absolute;
  top: 19rem;
  left: 42.1rem;
} */

#candle {
  position: absolute;
  top: -14.5rem;
  left: 65rem;
}

#globe {
  position: absolute;
  top: 33rem;
  left: 62rem;
}

#frame {
  position: absolute;
  top: 17.5rem;
  left: 18rem;
  transform: rotateX(2deg);
}

#previous-icon,
#next-icon {
  cursor: pointer;
  animation: scale 2s running infinite;
}

#next-icon {
  position: absolute;
  top: 21rem;
  left: 85rem;
}

#previous-icon {
  position: absolute;
  top: 21rem;
  left: 2rem;
}

.items {
  z-index: 2;
  animation: fall-down 0.8s cubic-bezier(0.9, -0.35, 1, 1) paused;
}

@keyframes fall-down {
  100% {
    transform: translateY(100rem);
  }
}
