#intro-text {
    font-family: "Ironick";
    font-size: 3rem;
    color: rgb(44, 105, 107);
    width: 600px;
  }
  
.point {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}