@font-face{
  font-family: "Laffriot";
  src: url('../../assets/fonts/laffriotnf/LaffRiotNF.ttf');
  /* src: url('../../../assets/fonts/rialto/RialtoNF.ttf'); */
  /* src: url('../../../assets/fonts/guanine/guanine.ttf'); */
}

@font-face{
  font-family: "Rialto";
  /* src: url('../../../assets/fonts/laffriotnf/LaffRiotNF.ttf'); */
  src: url('../../assets/fonts/rialto/RialtoNF.ttf');
  /* src: url('../../../assets/fonts/guanine/guanine.ttf'); */
}

@font-face{
  font-family: "Guanine";
  /* src: url('../../../assets/fonts/laffriotnf/LaffRiotNF.ttf'); */
  /* src: url('../../../assets/fonts/rialto/RialtoNF.ttf'); */
  src: url('../../assets/fonts/guanine/guanine.ttf');
}

@font-face{
  font-family: "Ironick";
  /* src: url('../../../assets/fonts/laffriotnf/LaffRiotNF.ttf'); */
  /* src: url('../../../assets/fonts/rialto/RialtoNF.ttf'); */
  src: url('../../assets/fonts/ironick-normal/IronickNF.ttf');
}

header {
  font-family: "Laffriot";
  background-image: url("../../assets/img/wood-wallpaper.PNG");
  background-size: cover;
  height: 100vh;
  perspective: 800px;
}

h1{
  font-family: "Rialto";
  font-size: 5rem;
  font-stretch: 200%;
  color: rgb(40, 152, 156);
  text-shadow: 2px 2px 2px aliceblue;
}

p{
  font-family: "Ironick";
  font-size: 2rem;
  color: rgb(44, 105, 107);
}

#nav{
  position: relative;
  top: -40px;
  left: 15%;
}

#about,
#portfolio,
#contact {
  transform: rotateX(25deg);
  color: rgb(104, 104, 104);
}

#about:hover,
#portfolio:hover,
#contact:hover {
  cursor: pointer;
  /* transition: 0.2s; */
  transform: rotateX(1deg);
  font-weight: 500;
  color: rgb(63, 63, 63);
}

#plane-container {
  padding-top: 1rem;
}

#biplan {
  width: 230px;
  height: 100px;
}

#banner {
  width: 900px;
  height: 80px;
  position: relative;
  top: 9px;
}
