/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Laffriot";
  src: url("./assets/fonts/laffriotnf/LaffRiotNF.ttf");
}

@font-face {
  font-family: "Rialto";
  src: url("./assets/fonts/rialto/RialtoNF.ttf");
}

@font-face {
  font-family: "Guanine";
  src: url("./assets/fonts/guanine/guanine.ttf");
}

@font-face {
  font-family: "Ironick";
  src: url("./assets/fonts/ironick-normal/IronickNF.ttf");
}

@font-face {
  font-family: "OldNewspaper";
  src: url("./assets/fonts/old_newspaper_types/OldNewspaperTypes.ttf");
}

@font-face {
  font-family: "LouisaCP";
  src: url("./assets/fonts/louisacp/LouisaCP.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.guanine {
  font-family: "Guanine";
}

.ironick {
  font-family: "Ironick";
}

.rialto {
  font-family: "Rialto";
}

.laffriot {
  font-family: "Laffriot";
}

.louisa-cp {
  font-family: "LouisaCP";
}

.old-newspaper {
  font-family: "OldNewspaper";
}
