#newspaper-container {
  position: relative;
}

.page-1,
.page-2,
.page-3 {
  transform-origin: top left;
  animation: hinge 0.7s ease-in-out paused;
}

#buttons {
  position: relative;
}

#buttons:hover {
  cursor: pointer;
}

#right-finger {
  margin-left: 66rem;
}

.right-finger {
  animation: signal-right 1s ease-in-out infinite;
}

.left-finger {
  animation: signal-left 1s ease-in-out infinite;
}

@keyframes hinge {
  30%,
  70% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: translateY(80rem);
  }
}

@keyframes signal-right {
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes signal-left {
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
